:root{
    --main-color-purple: #9C9CAB;
    --main-color-grey: #B0B0AE;
    --main-color-blue: #A3ADC6;

}

body{
    /* background: url('../../img/background-img.jpg') repeat; */
    background-color: var(--main-color-blue);
    font-family: 'Noto Sans', sans-serif;

}

.wrappper {
    width: 100vw;
    
}
.game {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.visilica {
    width: 600px;
    height: 300px;
    /* border: 1px solid #000; */
}
.letters {
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: end;
    /* margin-bottom: 10px; */
}
.letter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden-letter {
    font-size: 25px;
    margin-bottom: -12px;
}
hr{
    width: 35px;
    border: 2px solid rgb(43, 86, 59);
    background-color: rgb(43, 86, 59);
}

.alphabet {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-letter {
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

img{
    height: 40px;
    width: 40px;
}
.lost-menu{
    width: 500px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--main-color-purple);
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 10px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap: 15px;
    padding: 10px;
}
.lost-menu .img7{
    margin: 40px 0;
}
.lost-menu__btn{
    font-size: 35px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #d3d1d1;
    transition: 0.5s;
}

.lost-menu__btn:hover{
    background-color: #eeecec;
}

.lost-menu__text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.win-menu{
    width: 500px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #7dd49c;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 10px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap: 15px;
    padding: 10px;
}
.win-menu__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5px;
    
}
.border{
    position: absolute;
    left: 150px;
    top: 150px;
}

.menu-btn{
    font-size: 25px;
}

.hint-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 320px;
    left: 200px;
    font-size: 20px;
}
.hint-text {
    margin-bottom: 10px;
}
.hint-sum {
}
.hint-btn {
    font-size: 20px;
    height: 50px;
}